<form class="{{cssClass}}" autocomplete="off" onsubmit="event.preventDefault()">
    <!-- <script src="modules/shadowrun5e-compendiums/module/external/xml-js.min.js"></script> -->
    <header class="flexcol">
        <h1>Chummer XML Data Import</h1>
    </header>
    <section>
        <div class="flexcol">
            <label for="xml-source">Source Text</label>
            <textarea style="min-height: 400px" id="xml-source">
              
</textarea>
        </div>
        <button type="submit">Import</button>
    </section>
</form>
